@import "../../../theme";

.yourName{
  .bodyLayoutPicture {
    display: flex;
    justify-content: space-between;
    
    vertical-align: bottom;
    
    span {
      font-family: $familySecundary;
      padding: 0 24px;
    }
    .form{
      padding: 0 24px;
    }

    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;
      justify-content: flex-start;

      span, .form{
        padding: 16px 0;
      }
    }
  }  
}