@import "../../../theme";

.basicLayout{
  $sizePadding: $paddingLayout;
  $sizePaddingMobile: $paddingLayoutMobile;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: calc(100% - #{$sizePadding * 2});
  padding: $sizePadding;


  >*{
    display: flex;
    justify-content: space-between;
  }
  
  .topBar{
    z-index: 4;
  }

  @media only screen and (max-width: 420px) {
    height: calc(100% - #{$sizePaddingMobile * 2});
    padding: $sizePaddingMobile;
  }
}