@import "../../../theme";

.wrapperBackButton{
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  
  .backButton{
    width: 100%;
    display: flex;
    flex-direction: column;

    cursor: pointer;
    
    &:hover{
      transform: scaleX(1.1);
    }
    
    >*{
      padding: 0 24px;
    }
    
    .text{
      span{

        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);

        text-transform: uppercase;
        color: $primaryColor;
        font-family: $familySecundary;
        cursor: pointer;
      }
    }
    
    .icon{
      .arrowBack{
        height: 25px;
        transform: rotate(90deg);
    
        .cls-1{
          fill: $accentColor;
        }
      }
    }
    
    &.primary .icon .arrowBack .cls-1{
      fill: $primaryColor;
    }
  }

}

@media only screen and (max-width: 520px) {
  .wrapperBackButton .backButton{
    display: none;
  }
}