@import "../../../theme";

.relation{
  .bodyLayout .bodyLayoutPicture {
    width: calc(100vw - (#{$paddingLayout} * 2));

    padding: 0;

    display: flex;
    align-self: center;


    > * {
      width: 50%;
      padding: 0 90px;
    }

    .firstColumn {
      > * {
        display: block;
      }

      font-family: $familySecundary;

      .title{
        color: white;
        font-size: $h2FontSize;
        line-height: $h2FontSize;        
      }
      
      .itens{
        display: flex;
        flex-direction: column;

        padding: 8px 0;
        .item {
          color: $primaryColor;
          font-size: $h3FontSize;
          line-height: 50px;
          padding-top: 8px;
        }
      }
    }

    .secondColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;

      > * {
        padding: 8px 0;
      }
    }

    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;

      .firstColumn{
        padding: 0;
        width: 100%;

        .title {
          font-size: $h2FontSizeMobile;
          line-height: $h2FontSizeMobile;
          text-align: center;
        }
        
        .itens {
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          .item {
            font-size: $h3FontSizeMobile;
            line-height: $h3FontSizeMobile;
            padding: 4px 8px;
          }
        }
      }

      .secondColumn{
        align-self: center;
        width: auto;
        padding: 8vh 0;
        
        .age{
          font-size: $h1FontSizeMobile * 2;
          line-height: $h1FontSizeMobile * 2;
        }
      }

      @media only screen and (max-height: $maxHeihgtSmallDevices){
        .firstColumn {
          .title {
            font-size: $h3FontSizeMobile;
            line-height: $h3FontSizeMobile;
          }

          .itens .item {
            font-size: $h4FontSizeMobile;
            line-height: $h4FontSizeMobile;
          }
        }
      }
    }
  }
}