@import "../../../theme";

.chooseOne{
  
  .arrow{
    height: 36px;
  }
  
  span{
    font-family: $familySecundary;
  }
  
  .firstLine,.thirdLine{
    display: flex;
    height: 42px;
    overflow-y: hidden;
    svg{
      vertical-align: top;
      padding: 6px 8px;
      background: $primaryColor;
    }
    
    span {
      color: $darkPrimaryColor;
    }
  }
  
  &:not(.disabled){
    span, svg, div{
      cursor: pointer;
    }
    
    .firstLine,.thirdLine{
      &:hover{
        span {
          color: $hoverDarkPrimaryColor;
        }
        svg{
          background: $darkPrimaryColor;
        }
      }
    }
    
    .secondLine{
      &:hover{
        color: $darkPrimaryColor;
      }
    }
  }
  
  .secondLine{
    background: white;
    padding: 4px 8px;    
  }  
  
  .firstLine {
    svg{
      transform: rotate(180deg) translateY(4px);
    }
    .wrapperText {
      transform: translateY(-100%);
    }
  }

}