@import "../../../theme";

.resultado{    
  $sizePadding: 56px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - #{$sizePadding * 2});
  padding: $sizePadding;
  
  
  >*{
    display: flex;
    justify-content: space-between;
  }
  
  .footer{
    justify-content: flex-end;
  }
}