@import "../../../theme";

.resultado{    
  $sizePadding: 56px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - #{$sizePadding * 2});
  padding: $sizePadding;
  
  
  >*{
    display: flex;
    justify-content: space-between;
  }
  
  .resultBody{
    justify-content: center;
    font-family: "DonoJose";
    font-size: 2.4rem;
    color: $primaryColor;
    
    >*{
      padding: 0 8px;
    }
    
    .ligature{
      color: $accentColor;
    }
  }
  
  .footer{
    justify-content: flex-end;
  }
}