@import "../../../theme";

.info .bodyLayout {

  align-self: center;
  
  .bodyLayoutPicture p {

    margin: 0;
    color: $accentColor;
    transform: translateY(10%);
    text-align: center;

    span.accent {
      color: white;
    }

    @media only screen and (max-width: $maxWidthMobile) and (max-height: $maxHeihgtSmallDevices) {
      font-size: $h2FontSizeMobile;
      transform: none;
    }
  }
}