@import "../../../theme.scss";

.familiarRelation{
    $width: calc(50vw - #{$paddingLayout} - 180px);
    
    .bodyLayoutPicture{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .title{
            width: calc(100vw - #{($paddingLayout + 90px) * 2});
            
            font-family: $familySecundary;
            font-size: $h4FontSize;
            line-height: $h3FontSize;
            color: white;
        }
        
        .chooseOne, .options{
            width: $width;
        }
        
        .options{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
    
            font-family: $familySecundary;
            font-size: $h5FontSize;
            line-height: $h5FontSize;
            span{
                height: $h5FontSize;
                padding: 4px 8px;
                margin: 8px;
                background: $primaryColor;
                color: white;
                cursor: pointer;
                
                &:hover{
                    background: $darkPrimaryColor;
                }
                
                &.active{
                    background: white;
                    color: $darkPrimaryColor;
                    cursor: default;
                }
            }
        }
    }
    
    @media only screen and (max-width: $maxWidthMobile){
        .bodyLayoutPicture {
            flex-direction: column;
            justify-content: flex-start;
            
            .chooseOne{
                display: none;
            }
            
            .title, .options{
                width: 100%;
            }
            
            .options{
                padding-top: 16px;
            }
            
            @media only screen and (max-height: $maxHeihgtSmallDevices){
                .title {
                    font-size: $h5FontSizeMobile;
                    line-height: $h5FontSizeMobile;
                }
                .options {
                    font-size: $h4FontSizeMobile;
                    line-height: $h4FontSizeMobile;
                }
            }

        }
    }
}