@import "../../../theme";

.hisAge{
  .bodyLayout .bodyLayoutPicture{
    width: calc(100vw - (#{$paddingLayout} * 2));

    padding: 0;

    display: flex;
    align-self: center;

    >*{
      width: 50%;
      padding: 0 90px;
    }

    .firstColumn{
      >*{
        display: block;
      }

      font-family: $familySecundary;
      
      .title{
        color: white
      }

      .name{
        color: $primaryColor;
        font-size: $h3FontSize;
      }
    }

    .secondColumn{

      display: flex;
      flex-direction: column;
      align-items: center;

      .age{
        font-size: $h1FontSize * 2;
        line-height: $h1FontSize * 2;
        color: $primaryColor;
      }

      >*{
        padding: 8px 0;
      }
    }

    @media only screen and (max-width: 1024px) {
      .firstColumn {
        width: 47%;;
      }
      .secondColumn{
        width: 53%;
      }
    }

    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;

      .firstColumn{
        padding: 0;
        width: 100%;

        .name{
          font-size: $h3FontSizeMobile;
        }
      }

      .secondColumn{
        align-self: center;
        margin-top: 4vh;

        .age{
          font-size: $h1FontSizeMobile * 2;
          line-height: $h1FontSizeMobile * 2;
        }
      }

      @media only screen and (max-height: $maxHeihgtSmallDevices){
        .firstColumn .title{
          font-size: $h3FontSizeMobile;
          line-height: $h3FontSizeMobile;
          .name{
            font-size: $h4FontSizeMobile;
            line-height: $h4FontSizeMobile;
          }
        }
        .secondColumn{
          margin-top: 0;
        }
      }
    }
  }
}