@import "../../../theme";

.hisCity{
  .bodyLayout .bodyLayoutPicture {
    width: calc(100vw - (#{$paddingLayout} * 2));

    padding: 0;

    display: flex;
    align-self: center;


    > * {
      width: 50%;
      padding: 0 90px;
    }

    .firstColumn {
      > * {
        display: block;
      }

      font-family: $familySecundary;
      
      .title{
        color: white
      }

      .item {
        color: $primaryColor;
        font-size: $h3FontSize;
        line-height: 50px;
        padding-top: 16px;
      }
    }

    .secondColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;

      > * {
        padding: 8px 0;
      }
    }


    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;

      .firstColumn{
        padding: 0;
        width: 100%;
        
        .title{
          margin-bottom: 8px;
        }

        .item{
          font-size: $h2FontSizeMobile;
          line-height: $h2FontSizeMobile;
          padding: 8px 0;
        }
      }

      .secondColumn{
        align-self: center;
        margin-top: 8vh;
        width: auto;
        .age{
          font-size: $h1FontSizeMobile * 2;
          line-height: $h1FontSizeMobile * 2;
        }
      }

      @media only screen and (max-height: $maxHeihgtSmallDevices){
        .firstColumn {
          .title {
            font-size: $h2FontSizeMobile;
            line-height: $h2FontSizeMobile;
           }

          .item {
            padding: 8px 0 0 0;            
            font-size: $h4FontSizeMobile;
            line-height: $h4FontSizeMobile;
          }
        }
        .secondColumn{
          margin-top: 6vh;
        }
      }
    }
    
  }
}