@import "../../../theme";

.backOfJesus{
  .bodyLayout{
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    span{
      $fontSize: 15px;
      font-size: $h1FontSize - $fontSize;
      line-height: $h1FontSize - $fontSize;
    }
    
    @media only screen and (max-width:$maxWidthMobile){
      span{
        font-size: $h1FontSizeMobile;
        line-height: $h1FontSizeMobile;
        text-align: center;
      }
    }
  }
}