@import "../../../theme";

.pictureLayout{
  background-size: cover;
  
  .topBar{
    z-index: 3;
    
    .logoChurch path{
      fill: white;
    }
  }
  
  .wrapperBackButton, .wrapperForwardButton{
    z-index: 3;
    .backButton, .forwardButton {
      .text span {
        color: white;
      }
    }
  }

  .footer .logo path{
    fill: white;
  }

  .gatinho{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .gatinho::after{
    content: "";
    height: $heightLayer;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .gatinho.blue::after{
    background-color: $backgroundPrimaryColor;
    opacity: .45;
  }
  .gatinho.yellow::after{
    background-color: $backgroundAccentColor;
    opacity: .9;
  }
  
  .bodyLayout{
    align-self: flex-start;

    .bodyLayoutPicture{
      z-index: 2;
      padding: 0 90px;
      
      &.blue{
        color: white;
      }
      
      min-height: calc(#{$heightLayer} - #{$heightLogoChurch} - #{$paddingLayout});
    }
  }

  @media only screen and (max-width: 420px){
    @media only screen and (max-height: 600px){
      .gatinho::after{
        height: $heightLayerSmallMobile;
      }
    }
    
    .bodyLayout{
      align-self: unset;
      
      .bodyLayoutPicture{
        padding: 0;
      }
    }
  }
}
