@import "../../../theme";

.layoutClean{    
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100vh - #{$paddingLayout * 2});
  padding: $paddingLayout;
  
  >*{
    display: flex;
    justify-content: space-between;
  }
  
  .bodyLayout{
    justify-content: center;
    font-family: $familyPrimary;
    color: $primaryColor;
    
    >*{
      font-size: $h1FontSize;
      line-height: $h1FontSize;
      margin: 0;
    }
    
    .accent{
      color: $accentColor;
    }
  }
  
  .footer{
    justify-content: flex-end;
  }
  @media only screen and (max-width: $maxWidthMobile){
    padding: $paddingLayoutMobile;
  
    height: 86.4vh;//calc(100vh - #{$paddingLayoutMobile * 4} - 1vh);
    justify-content: flex-start;
    
    .bodyLayout{
      padding: $paddingLayoutMobile 0;

      min-height: calc(100vh - #{($paddingLayoutMobile * 7)} - #{$heightLogoChurch} - #{$heightLogo});
      
      >*{
        font-size: $h1FontSizeMobile;
        line-height: $h1FontSizeMobile;
      }
    }

    @media only screen and (max-height: $maxHeihgtSmallDevices) {
      .bodyLayout {
        min-height: calc(100vh - #{($paddingLayoutMobile * 7)} - #{$heightLogoChurchSmallDevices} - #{$heightLogo});
      }

      .logoChurch{
        height: $heightLogoChurchSmallDevices;
      }
    }
  }
}