@import "../../../theme";

.layoutClean{    
  $sizePadding: 56px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - #{$sizePadding * 2});
  padding: $sizePadding;
  
  
  >*{
    display: flex;
    justify-content: space-between;
  }
  
  .bodyLayout{
    justify-content: center;
    font-family: $familyPrimary;
    color: $primaryColor;
    
    >*{
      font-size: $h1FontSize;
      line-height: $h1FontSize;
      margin: 0;
    }
    
    .accent{
      color: $accentColor;
    }
  }
  
  .footer{
    justify-content: flex-end;
  }
}