@import "../../../theme";

.regularTimeTogether{
  .bodyLayout .bodyLayoutPicture{
    $paddingBodyLayout: 90px;
    
    width: calc(100vw - (#{$paddingLayout + $paddingBodyLayout} * 2));

    padding: 0 90px;

    display: flex;
    align-self: center;

    >*{
      width: 50%;
    }

    .firstColumn{
      font-family: $familySecundary;
      font-size: $h2FontSize;
      line-height: $h2FontSize;

      .title{
        color: white
      }
    }

    .secondColumn{

      display: flex;
      flex-direction: column;
      align-items: center;

      .numberTime{
        font-size: $h1FontSize * 2;
        line-height: $h1FontSize * 2;
        color: $primaryColor;
      }

      >*{
        padding: 8px 0;
      }
    }


    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;
      padding: 0;

      width: 100vw;
      .firstColumn{
        padding: 0;
        width: 100%;
        font-size: $h2FontSizeMobile;
        line-height: $h2FontSizeMobile;

        .title{
          font-size: $h2FontSizeMobile;
          line-height: $h2FontSizeMobile;
        }
      }

      .secondColumn{
        align-self: center;
        margin-top: 4vh;
        width: auto;
        .numberTime{
          font-size: $h1FontSizeMobile * 2;
          line-height: $h1FontSizeMobile * 2;
        }
      }

      @media only screen and (max-height: $maxHeihgtSmallDevices){
        .firstColumn {
          font-size: $h3FontSizeMobile;
          line-height: $h3FontSizeMobile;
          .title {
            font-size: $h3FontSizeMobile;
            line-height: $h3FontSizeMobile;
          }
        }
        .secondColumn{
          margin-top: 2vh;
        }
      }
    }
  }
}