@import "../../../theme";

.home{
  $heightLayer: 75vh;
  
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
    background-image: url("../../../assets/images/background/home_bg.png");
    background-size: cover;
    filter: contrast(1.5) brightness(.6);    
  }
  
  .gatinho{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .gatinho::after{
    content: "";
    height: $heightLayer;
    width: 100vw;
    opacity: .45;
    background-color: $backgroundPseudoPrimaryColor;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bodyLayout{
    z-index: 3;

    height: 72vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    
    .information{
      z-index: 2;
      
      display: flex;
      
      height: calc(#{$heightLayer} - #{$heightLogoChurch} - #{$paddingLayout});
      
      >*{
        width: 50%;
      }
      
      .text{
        font-family: $familySecundary;
        font-size: $h3FontSize;
        color: white;
        font-weight: 900;

        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        p{
          margin: 0;
        }
        
        .actionButton{
          font-size: $h4FontSize;
          padding: 8px 16px;
          text-transform: uppercase;
          color: $darkPrimaryColor;
          font-weight: bold;
          background: $accentColor;
          text-align: center;
          font-family: $familyThird;
          cursor: pointer;
          
          &:hover{
            background: $accentLightColor;
          }
        }
      }
      
      .logo {
        text-align: center;

        svg {
          width: 70%;
          
          transform: translateY(50%);
        }
      }
    }
    
    .moreInfo{
      z-index: 2;
      align-self: center;
      transform: translateX(-50%);
      cursor: pointer;

      $sizeButton: 24px;

      &:hover{
        .label {
          background-color: $hoverDarkPrimaryColor;
        }
        .arrow{
          background: $accentLightColor;
          color: $hoverDarkPrimaryColor;
        }
      }
      
      .label{
        text-transform: uppercase;
        padding: 2px 20px 4px 20px;
        background: $darkPrimaryColor;
        color: $accentColor;
        font-family: $familyThird;
        vertical-align: middle;
        font-size: $sizeButton;
      }
      
      .arrow {
        background: $accentColor;
        padding: 5px 8px 11px 8px;
        
        
        svg {
          height: $sizeButton;
          vertical-align: middle;

          polygon {
            fill: $darkPrimaryColor;
          }
        }
      }
    }
  }
}