@import "../../../theme";

$paddingHeight: 30px;
$paddingWidth: 25px;

.home2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  
  .topBar{
    background: $accentColor;
    width: 100vw;
    >*{
      padding: $paddingHeight $paddingWidth;
    }
  }

  .logoChurch, .logo{
    path {
      fill: $darkPrimaryColor;
    }
  }
  
  .bodyHome2{
    width: calc(60% - #{$paddingWidth * 1.8});
    display: flex;
    flex-direction: column;
    padding-top: $paddingHeight;
    padding-bottom: $paddingHeight * .7;
    padding-left: $paddingWidth * 1.8;
    
    font-family: $familySecundary;
    .title{
      font-size: $h2FontSize;
      line-height: $h2FontSize;
      color: $primaryColor;
    }
    
    p{
      color: $darkPrimaryColor;
      margin: 12px 0;
    }
  }
  
  .btnVoltar{
    display: flex;
    align-items: center;
    >*{
      cursor: pointer;
    }
    
    &:hover{
      span{
        background: $hoverDarkPrimaryColor;
      }
      svg{
        background: $backgroundPrimaryColor;
      }
    }
    
    span{
      vertical-align: middle;
      font-size: $h5FontSize;
      line-height: $h5FontSize;
      text-transform: uppercase;
      padding: 8px 16px;
      background: $darkPrimaryColor;
      color: white;
    }
    
    svg{
      height: 28px;
      width: 32px;
      transform: rotate(180deg);
      background: $primaryColor;
      padding: 6px;
    }
  }
  
  .footer>*{
    margin: $paddingHeight $paddingWidth;
  }
  
  .square{
    $size: 50px;
    height: $size;
    width: $size;
    background: $accentColor;
  }
}

@media only screen and (max-width: 420px){
  .home2{
    .topBar{      
      align-items: center;
      .btnVoltar {
        span {
          font-size: $h5FontSizeMobile;
          line-height: $h5FontSizeMobile;
        }
        svg{
          padding: 4px;
        }
      }
    }
    
    .bodyHome2{
      padding: 40px 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      text-align: center;
      
      .title{
        font-size: $h1FontSizeMobile;
        line-height: $h1FontSizeMobile;
      }
      
      p {
        
      }
    }
  }
}