@import "../../../theme";

.birthDate{
  .bodyLayout{
    font-family: $familySecundary;
    
    span{
      width: 100%;
    }
    
    .form{
      padding: 16px 0;
      input{
        background: none;
        border: none;
        font-size: $h3FontSize;
        color: $accentColor;
        font-family: $familySecundary;
        vertical-align: middle;
        text-align: center;
        padding: 0 16px;
        width: 60px;
        
        &:last-child{
          width: 120px;
        }
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      span.slash::before{
        content: "/";
        font-family: $familySecundary;
        font-size: $h3FontSize;
        vertical-align: text-bottom;
      }
    }
    
    @media only screen and (max-width: 420px){
      .form{
        input {
          font-size: $h3FontSizeMobile;
          padding: 0 8px;
          width: 40px;

          &:last-child{
            width: 60px;
          }
        }
        span.slash::before {
          font-size: $h3FontSizeMobile;
        }
      }
    }
  }  
}