@import "../../../theme";

.birthDate{
  .bodyLayout{
    font-family: $familySecundary;
    
    .form{
      padding: 16px 0;
      input{
        background: none;
        border: none;
        font-size: $h3FontSize;
        color: $accentColor;
        font-family: $familySecundary;
        vertical-align: middle;
        text-align: center;
        padding: 0 16px;
        width: 60px;
        
        &:last-child{
          width: 120px;
        }
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      span.slash::before{
        content: "/";
        font-family: $familySecundary;
        font-size: 50px;
      }
    }
  }
}