@import "../../../theme";

.timesSeenEachOther{
  .bodyLayout .bodyLayoutPicture{
    display: flex;
    
    font-family: $familySecundary;
    color: white;

    $thisHeightPadding: 16px;
    padding: $thisHeightPadding 90px;
    height: calc(100vh - #{$heightLogoChurch} - #{$paddingLayout * 2} - #{$thisHeightPadding * 2});
    
    >div{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    
    .firstColumn {  
      .firstLine {
        font-size: $h45FontSize;
        line-height: $h45FontSize;
        text-transform: uppercase;
      }

      .secondLine {
        font-size: $h2FontSize;
        line-height: $h2FontSize;
      }
    }
      
    .secondColumn{
      align-items: center;
      $fontSize: $h1FontSize * 1.6;
      .numberTimes{
        font-family: $familyPrimary;
        font-size: $fontSize;
        line-height: $fontSize;
        color: $primaryColor;
      }
      
      .barOptions{
        margin-top: 60px;
        
        span{
          padding: 8px 16px;
          background: $primaryColor;
          color: white;
          font-size: $h45FontSize;
          line-height: $h45FontSize;
          text-transform: uppercase;
          cursor: pointer;
          
          &:hover{
            background: $darkPrimaryColor;
          }
          
          &.active{
            background: white;
            color: $primaryColor;
            cursor: default;
          }
        }
      }
    }
  }
}