@import "../../../theme";

.timesSeenEachOther{
  .bodyLayout .bodyLayoutPicture{
    display: flex;
    
    font-family: $familySecundary;
    color: white;

    $thisHeightPadding: 16px;
    padding: $thisHeightPadding 90px;
    height: calc(100vh - #{$heightLogoChurch} - #{$paddingLayout * 2} - #{$thisHeightPadding * 2});
    
    >div{
      display: flex;
      flex-direction: column;
    }
    
    .firstColumn {  
      .firstLine {
        font-size: $h45FontSize;
        line-height: $h45FontSize;
        text-transform: uppercase;
      }

      .secondLine {
        font-size: $h2FontSize;
        line-height: $h2FontSize;
      }
    }
      
    .secondColumn{
      align-items: center;
      $fontSize: $h1FontSize * 1.6;
      .numberTimes{
        font-family: $familyPrimary;
        font-size: $fontSize;
        line-height: $fontSize;
        color: $primaryColor;
      }
      
      .barOptions{
        margin-top: 60px;
        
        span{
          padding: 8px 16px;
          background: $primaryColor;
          color: white;
          font-size: $h45FontSize;
          line-height: $h45FontSize;
          text-transform: uppercase;
          cursor: pointer;
          
          &:hover{
            background: $darkPrimaryColor;
          }
          
          &.active{
            background: white;
            color: $primaryColor;
            cursor: default;
          }
        }
      }
    }

    @media only screen and (max-width: $maxWidthMobile){
      flex-direction: column;
      padding: 0;

      .firstColumn{
        padding: 0;
        width: 100%;

        .firstLine{
          width: 100%;
          padding: 0;
          font-size: $h4FontSizeMobile;
          line-height: $h4FontSizeMobile;
        }

        .secondLine {
          padding: 0;
          font-size: $h2FontSizeMobile;
          line-height: $h2FontSizeMobile;
        }
      }

      .secondColumn{
        align-self: center;
        width: auto;
        padding: 16px 0;

        .barOptions {
          margin-top: 20px;
          span {
            font-size: $h4FontSizeMobile;
            line-height: $h4FontSizeMobile;
          }
        }
      }

      @media only screen and (max-height: $maxHeihgtSmallDevices){
        .firstColumn {
          padding: 0;

          .firstLine{
            font-size: $h5FontSizeMobile;
            line-height: $h5FontSizeMobile;
          }
          .secondLine {
            font-size: $h3FontSizeMobile;
            line-height: $h3FontSizeMobile;
          }
        }
        .secondColumn {
          padding: 16px 0;

          .numberTimes {
            font-size: $h1FontSize;
            line-height: $h1FontSize;
          }
        }
      }
    }
  }
}