$primaryColor: #0930aa;
$darkPrimaryColor: #1e293b;
$hoverDarkPrimaryColor: #2b3b54;
$accentColor: #FC9D00;
$accentLightColor: #ffac23;
$backgroundAccentColor: #ff9c00;
$backgroundPrimaryColor: #0f00f1;
$backgroundPseudoPrimaryColor: #0030de;

$h1FontSize: 76px;
$h3FontSize: 50px;
$h4FontSize: 36px;
$h5FontSize: 24px;
$normalFontSize: 18px;

$familyPrimary: "DonoJose";
$familySecundary: "Trebuchet MS Bold";
$familyThird: "Myriad Pro";

$paddingLayout: 56px;
$heightLogoChurch: 54px;