$primaryColor: #0930aa;
$darkPrimaryColor: #1e293b;
$accentColor: #FC9D00;
$backgroundPrimaryColor: #0030de;

$h1FontSize: 76px;
$h3FontSize: 50px;
$h4FontSize: 36px;
$h5FontSize: 24px;
$normalFontSize: 18px;

$familyPrimary: "DonoJose";
$familySecundary: "acumin-pro-condensed";
$familyThird: "myriad-pro";

$paddingLayout: 56px;
$heightLogoChurch: 54px;