$primaryColor: #012CAE;
$accentColor: #FC9D00;


@font-face {
  font-family: 'don_josbigote';
  src: url('./assets/fonts/donJose/don_jose_bigote-webfont.woff2') format('woff2'),
       url('./assets/fonts/donJose/don_jose_bigote-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}