@import "../../../theme";

.result2{
  .bodyLayout{
    flex-direction: column;
    align-items: center;
    
    p{
      font-family: 'acumin-pro-condensed';
      font-style: normal;
      font-weight: 900;
      font-size: $h4FontSize;
      line-height: $h4FontSize;
      letter-spacing: -1px;
    }
    
    .resultBar{
      margin: 8px 0;
      padding: 8px 32px;
      background: $accentColor;
      
      span{
        font-size: $h3FontSize;
        vertical-align: top;
        
        &:not(:last-child)::after{
          content: "|";
          vertical-align: top;
          color: white;
          padding: 24px;
        }
      }
    }
    
    >*{
      padding: 0 8px;
    }
  }
}