@import "../../../theme";

.result2{
  .bodyLayout{
    flex-direction: column;
    align-items: center;
    
    .wrapperResult2{
      width: 55vw;
      $fontSize: $h4FontSize;
      p{
        font-family: $familySecundary;
        font-style: normal;
        font-weight: 900;
        font-size: $fontSize;
        line-height: $fontSize;
        letter-spacing: -1px;
        margin: 16px 0;
        padding-right: $paddingLayout; 
      }
      
      .resultBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        padding: 8px 32px;
        background: $accentColor;
        
        span{
          font-size: $h3FontSize;
        }
        
        .divider{
          background: white;
          height: $fontSize * 1.5;
          width: $fontSize / 2.5;
        }
      }
      
      >*{
        padding: 0 8px;
      }
    }
  }
}